.root {
    width: fit-content;
    position: absolute;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #999999;
    background: no-repeat center top;
    background-size: 100%;
    display: flex;

     //除去最后一个元素
     div:not(:last-child){
        margin-right: 3px;
    }

   .person{
        display: flex;
        flex-direction: column;
        align-items: center;

        .sibHuman{
            color:#ff0000;
        }

        img{
            width: 80px;
        }
    }
}

.selected {
    border: 3px solid red !important;
    // transform: scale(1.1);
}