.root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    width: 100px;
    height: 150px;

    img{
        height: 120px;
    }

    .pname{
        font-family: "Microsoft YaHei";
    }
}