<div class="root">
  <p>请输入本人身份证号：</p>
  <mat-form-field >
    <mat-label>本人身份证号</mat-label>
    <input matInput (blur)="onBasePeopleBlur()" [(ngModel)] = basePid>
  </mat-form-field>

  <div class="pname" *ngIf="pname">{{pname}}</div>

  <div class="divider"></div>

  <p>请输入父亲身份证号：</p>
  <mat-form-field >
    <mat-label>父亲身份证号：</mat-label>
    <input matInput [(ngModel)] = fatherId>
  </mat-form-field>
  <div class="pname" *ngIf="fatherName">{{fatherName}}</div>

  <div class="divider"></div>

  <p>请输入母亲身份证号：</p>
  <mat-form-field >
    <mat-label>母亲身份证号</mat-label>
    <input matInput [(ngModel)] = motherId>
  </mat-form-field>
  <div class="pname" *ngIf="motherName">{{motherName}}</div>


  <button mat-raised-button color="primary" (click)="onSubmit()">提交</button>
</div>
